* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0B0B0B;
  color: #EAEAEA;
  padding: 0;
  margin: 0;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: transparent;
  backdrop-filter: blur(0.3rem);
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.6);
  z-index: 1000;
  border-bottom: 1px solid black;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Pacifico", cursive;
  font-weight: 800;
  font-size: 1.95rem;
  background: linear-gradient(135deg, #4F46E5 0%, #8B5CF6 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  margin-right: 5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #8B5CF6;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.signin-btn {
  background: transparent;
  border: 0.1rem solid #8B5CF6;
  color: white;
  padding: 0.6rem 1.4rem;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}

.signin-btn:hover {
  background: #8B5CF6;
}

.signup-btn {
  background: #8B5CF6;
  border: none;
  color: white;
  padding: 0.6rem 1.4rem;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}

.signup-btn:hover {
  opacity: 0.8;
}

.profile-icon {
  font-size: 1.75rem;
  cursor: pointer;
  transition: 0.3s;
}

.profile-icon:hover {
  color: #8B5CF6;
}

.mobile-menu-icon {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: white;
}

.mobile-menu {
  position: absolute;
  top: 5rem;
  right: 1rem;
  background: #1E1E1E;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 12rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
  animation: fadeIn 0.3s ease-in-out;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.mobile-menu a:hover {
  color: #8B5CF6;
}

.mobile-btn {
  width: 100%;
  text-align: center;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-0.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url("./assets/hero-background-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-content {
  text-align: center;
  max-width: 800px;
  padding: 20px;
  color: #fff;
  margin-top: 120px;
}


.home-content h1 {
  font-size: 42px;
  font-weight: 1000;
  margin-bottom: 20px;
  color: #8B5CF6;
}

.home-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #ddd;
}

.home-content button {
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  background: #e50914;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.home-content button:hover {
  background: #b20710;
  transform: scale(1.05);
}

/* Trending Section */

.trending-section {
  background-color: #000;
  padding: 80px 80px;
  color: #fff;
  position: relative;
}

.trending-section h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #8B5CF6;
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.movie-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.movie-row::-webkit-scrollbar {
  display: none;
}

.movie-card {
  min-width: 180px;
  height: 270px;
  flex: 0 0 auto;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 28px;
  background: rgba(20, 20, 20, 0.8);
  color: #000;
  backdrop-filter: blur(6px);
  transition: 0.3s ease;
  background: #8B5CF6;
  z-index: 10;
}

.arrow-btn:hover {
  transform: translateY(-50%) scale(1.1);
}

.arrow-left {
  left: -30px;
}

.arrow-right {
  right: -30px;
}

/* More Reasons Section */

.reasons-section {
  background-color: #000;
  padding: 80px 80px;
  color: #fff;
}

.reasons-section h2 {
  color: #8B5CF6;
  font-size: 32px;
  margin-bottom: 50px;
}

.reasons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.reason-card {
  color: #000;
  background: #8B5CF6;
  padding: 40px;
  border-radius: 16px;
  position: relative;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease;
}

.reason-card:hover {
  box-shadow: 0 20px 40px rgba(139, 92, 246, 0.5);
  transform: scale(1.1);
}

.reason-card h3 {
  font-size: 22px;
}

.reason-card p {
  font-size: 15px;
  line-height: 1.6;
  color: #f3f3f3;
  margin-bottom: 2rem;
}

.reason-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
}

/* Footer Section */

.footer {
  background-color: #0B0B0B;
  color: #fff;
  padding: 50px 80px;
  border-top: 2px solid #8B5CF6;
  font-family: 'Inter', sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-brand {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(135deg, #4F46E5 0%, #8B5CF6 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #8B5CF6;
}

.footer-column a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
  transition: 0.3s;
}

.footer-column a:hover {
  color: #8B5CF6;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

.moviesPage {
  padding: 40px;
  background: #0f0f0f;
}

.movieSection {
  margin-top: 80px;
  margin-bottom: 40px;
}

.movieTitle {
  color: #8B5CF6;
  margin-bottom: 15px;
  font-size: 22px;
}

.sliderWrapper {
  position: relative;
}

.movieRow {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.movieRow::-webkit-scrollbar {
  display: none;
}

.movieCard img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  border: none;
  color: #8B5CF6;
  font-size: 28px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

/* ===== AUTH CONTAINER ===== */

.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #000000, #141414);
  padding: 20px;
  margin-top: 2rem;
}

/* ===== AUTH CARD ===== */

.auth-card {
  background-color: #111;
  padding: 40px;
  width: 100%;
  max-width: 420px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.auth-card h1 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 2rem;
}

/* ===== INPUTS ===== */

.auth-card input {
  width: 100%;
  padding: 14px 15px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #1c1c1c;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: 0.3s ease;
}

.auth-card input:focus {
  border-color: #8B5CF6;
}

/* ===== BUTTON ===== */

.auth-card button {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  background-color: #8B5CF6;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-card button:hover {
  transform: scale(1.03);
}

/* ===== LINKS ===== */

.auth-card a {
  color: #8B5CF6;
  font-weight: 500;
  transition: 0.3s;
}

.auth-card a:hover {
  color: #fff;
}

/* ===== ERROR MESSAGE ===== */

.auth-card p {
  margin-top: 10px;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 500px) {
  .auth-card {
    padding: 30px 20px;
  }

  .auth-card h1 {
    font-size: 1.6rem;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-links {
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }

  .footer-column a {
    font-size: 13px;
  }

  .footer-brand {
    text-align: center;
  }

  .footer-bottom {
    font-size: 13px;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-links {
    flex-direction: column;
    gap: 25px;
  }

  .footer-column a {
    font-size: 13px;
  }

  .footer-brand {
    text-align: center;
  }

  .footer-bottom {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .nav-links {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .signin-btn,
  .signup-btn,
  .profile-icon {
    display: block;
  }

  .mobile-menu-icon {
    display: block;
  }
}

@media (max-width: 570px) {
  .navbar {
    padding: 0 1rem;
    height: 4rem;
  }

  .logo {
    font-size: 1.55rem;
    margin-right: 0.8rem;
  }

  .signin-btn {
    padding: 0.2rem 0.4rem;
  }

  .signup-btn {
    padding: 0.2rem 0.4rem;
  }

  .mobile-menu {
    width: 9rem;
    top: 4rem;
    padding: 0.5rem;
    gap: 0.4rem;
  }

  .mobile-menu a,
  .mobile-btn {
    font-size: 0.90rem;
    padding: 0.25rem 0;
  }

  .profile-icon {
    font-size: 1.55rem;
  }

  .mobile-menu-icon {
    font-size: 1.55rem;
  }
}